<div class="container-fluid" style="background-color: black;">
  <div class="row">
    <div class="col-4 py-1 px-5">
      <a routerLink="/" class="navbar-brand">
        <img src="../../assets/evista.png" height="60" alt="evista Logo" (click)="nav.visible = false">
      </a>
    </div>
    <div class="col-6 py-1 px-5 align-items-center d-flex" *ngIf="nav.visible" >
      <div class="px-2" style="color: white;">Deck size:</div>
      <div class="px-2 dropdown">
        <select [(ngModel)]="num">
          <option *ngFor="let o of displayColumns">
             {{o}}
          </option>
       </select>
      </div>
      <button class="px-2 btn btn-danger" (click)="newGame()">START NEW GAME</button>
    </div>
  </div>
</div>