<div class="container-fluid" style="background-color: black;">
  <div class="row">
    <div class="col-4 py-1 px-5">
      <img src="../../assets/evista.png" height="60" alt="evista Logo">
    </div>
    <div class="col-6 py-1 px-5 align-items-center d-none">
      <div class="px-2" style="color: white;">Deck size:</div>
      <div class="px-2 dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          0
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <button class="px-2 btn btn-danger">START NEW GAME</button>
    </div>
  </div>
</div>