<div class="container row">
    <div class="col-xs-6" *ngFor="let list of gameModel.images;let i = index">
        <a style="cursor: pointer;"  (click)="revealCard(list.id)">
        <div class="card" style="width: 13rem; background-color: gray;" *ngIf="list.id <= num">
            <img 
                class="card-img-top img-responsive"
                [src]="list.imagePath"
                [alt]="list.name" 
                
                [ngClass]="list.hidden == 1 ? 'img-change' : 'img-default'"
                
                >
                {{list.name}}
        </div>
        </a>
    </div>
</div>