<div class="container">
    <p>Splendex Memory Game</p> 
    <p>Deck Size</p> 
    <div class="px-2 dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        0
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
    <a class="px-2 btn btn-danger" routerLink="/game">START NEW GAME</a> 
    <app-rules></app-rules>
</div>
