<div class="container">
    <div class="row">
        <p>Current tries: 0</p> 
        <p>Best: 9</p>
        <button class="btn">RESTART</button>
    </div>
    <div class="row">
        <div class="card" style="width: 13rem;">
            <img class="card-img-top" src="../../assets/images/cards/angular.png" alt="Card image cap">
        </div>
        <div class="card" style="width: 13rem;">
            <img class="card-img-top" src="../../assets/images/cards/angular.png" alt="Card image cap">
        </div>
        <div class="card" style="width: 13rem;">
            <img class="card-img-top" src="../../assets/images/cards/angular.png" alt="Card image cap">
        </div>
        <div class="card" style="width: 13rem;">
            <img class="card-img-top" src="../../assets/images/cards/angular.png" alt="Card image cap">
        </div>
    </div>
</div>

